.title-xl  {
    font-size:36px;
    font-weight:700;
    line-height: 54px;
    margin: 10px 0px;
    font-style: medium;
    overflow-wrap: break-word;

}
.title-l{
    font-size:28px;
    font-weight:700;
    line-height: 42px;
    margin: 10px 0px    ;
    font-style: medium;
    overflow-wrap: break-word;
    

}
.title-m{
    font-size:24px;
    font-weight:700;
    line-height: 36px;
    margin: 10px 0px;
    font-style: medium;
    overflow-wrap: break-word;
   
}
.title-s{
    font-size:20px;
    font-weight:700;
    line-height: 30px;
    margin: 10px 0px;
    font-style: normal;
    overflow-wrap: break-word;
    
}
.title-xs{
    font-weight: 700;
    font-size:16px;
    line-height:24px; 
    font-style: medium;
    width: 100%;
    overflow-wrap: break-word;
}
.subtitle{
    font-size:16px;
    line-height:20px;
    margin: 10px 0px; 
    font-style: normal;
    width: 100%;
    overflow-wrap: break-word;
}



