@font-face {
  font-family: "Space Grotesk";
  src: local('Space Grotesk'),url("./assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf") format('truetype');
}
*{
  font-family:"Space Grotesk",sans-serif;
  padding:0;
  margin:0;
}
body {
  margin: 0;
  font-family: "Space Grotesk",sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  max-width: 1200px;
  margin: 2% auto;

}
.row{
  margin: 70px 0;
  width:100%;
}

/* Media Screens */
/* Tablet */
@media only screen and (max-width:768px) {
  .navLink, .dropdown-toggle, .cardLink{
    font-size: 12px !important;
}
.cardLink{
    margin: 0;
    padding-top: 6px;
}


.row{
  flex-wrap: wrap;
}


}