@font-face {
  font-family: "Space Grotesk";
  src: local('Space Grotesk'),url("./assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf") format('truetype');
}
*{
  font-family:"Space Grotesk",sans-serif;
  padding:0;
  margin:0;
}
body {
  margin: 0;
  font-family: "Space Grotesk",sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  width: 100%;
  height:100vh;
}
.row{
  margin: 70px 0;

  width:100%;
}
