#rootSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

}
/* HEADER SECTION */
#headerSection{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0;
    
}
#headerText{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 600px;
}



#scrollDown{
    display: inline-block;
    text-decoration: none;
    color:#ED3E3E;
    margin-top:20px;
}
#scrollDown:hover{
    cursor:pointer;
}
/* -- BENEFITS SECTION -- */

.asideText{
    display: flex;
    flex: 1;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
    
}

#messageBauble{
    background-color: rgba(4, 21, 31, 0.1);
    padding: 20px ;
    border-radius: 8px;
}
#asideAvatar{
    display:flex;
    flex:1;
    flex-direction:row;
    margin: 10px 0;
}
#avatarText{
    padding-left:10px;
}

/* PROJECT MENAGEMENT CERTIFICATION */
#projectMngSection{
    text-align:center;
    width:70%;
    align-self: center;
}
/* LEVEL SECTION */
.CardSection{
    margin:15px 0;
    padding: 0;
}
.CardBorder{
    position:relative;
}

/* BENEFITS CARD SECTION */
#benefitsHeader{
    width: 100%;
    justify-content:start;
}
#BenefitsCards{
    display:flex;
    flex-direction: row;
    flex:1;
    justify-content: space-between;
    align-items:center;
    width:100%;

}
.borderRight1, .benefBorderRight, .borderRight{
    content:'';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width:1px;
    background-color:#ED3E3E
}

/* ABOUT SECTION */
#aboutSection{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items:center;
    justify-content:flex-start;
    width:100%;
}
.benefitsAside .title-m{
    margin-top: 0 !important;
}

@media only screen and (max-width:768px) {
    #messageBauble{
        padding:10px;
    }
    #messageBauble div{
        margin:0 !important;
    }
    #headerSection .col:nth-child(2), .benefitsImage{
        text-align:center !important;
        margin-bottom: 50px;
    }
    #headerSection{
        flex-direction: column-reverse;
        text-align: center;
    }
    .headerBtns{
        justify-content: center !important;
    }
    #benefitsCards, .CardL,.CardR, .CardLast,.CardLastL,.CardLastR, #benefitsHeader{
        text-align:center !important;
    }
    #headerText{
        margin:0 auto;
    }
    #cardAboutUs{
        margin:0 auto !important;
        width: 70% !important;
    }
    .CardM{
        margin: 20px 0;
    }
    .benefBorderRight{
        display: none !important;
    }
}
@media only screen and (max-width:600px){
    .borderRight, .borderRight1{
        display:none !important;
    }
    .CardBorder, .CardBorder1{
        border-bottom: 1px solid #ED3E3E !important;
    }
    .CardBorder, .CardBorder1,.CardL, .CardR,.CardLast,.CardLastL,.CardLastR{
        margin:0 auto !important;
    }
    .CardM {
        margin: 20px 0 !important;
    } 
    .CardL, .CardR{
        border:none !important;
    }
    .headerBtns{
       margin: 0 auto;
    }
    #projectMngSection{
        width: 100%;
        justify-content: center;
        margin: 0 !important;
    }
    .CardSection{
        margin:0;
    }
    .faq-row-wrapper{
        margin: 20px 0 !important;
    }
    
}
