.CardL {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height:100%;
    border-bottom: 1px solid #ED3E3E;
    margin: 0px 20px;
}
.CardLast{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height:100%;
    margin:0px 20px;

   
}

.cardM{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height:100%;
    padding-bottom: 30px;
}
#cardAboutUs{
    border-bottom: none !important;
    height:50%;
    align-self: center;
    width:100%;
}
.blogCard{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height:100%;
    padding-bottom: 30px;
}

.blogImg{
   display: inline-block;
   margin-bottom: 10px;
}
#blogLink{
    text-decoration: none;
    color:#ED3E3E;
    margin-top: 10px;
}

.contactBox{
    display: flex;
    flex:1;
    flex-direction:row;
    justify-content: start;
    align-items:center;
}

.titleBorder{
    width:40%;
    height:1px;
    background:#CDD0D2;
}

.filler{
    width:30%;
    height:1px;
    background:#04151F;
}