@media only screen and (max-width:768px) {
    .blogCard{
        align-items:center;
    }
    .blogCard .row , .blogCard div, .blogCard form{
        justify-content:center;
        text-align:center;
    }
    .blogCard .contactBox{
       width:100%;
    }
   
    .blogCard .subtitle-s{
        text-align:center;
    }
    .titleBorder{
        margin: 0 auto;
    }
    
}